@using FluxoCaixaDiario.Web.Models
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Erro</h1>
<h2 class="text-danger">Ocorreu um erro ao processar sua solicitação.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID da Requisição :</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    A troca para o ambiente de <strong>Desenvolvimento</strong> exibirá informações mais detalhadas sobre o erro ocorrido
</p>
<p>
    <strong>O ambiente de desenvolvimento não deve ser habilitado para aplicativos implantados.</strong>
    Isso pode resultar na exibição de informações confidenciais de exceções aos usuários finais.
    Para Debug local, habilite o <strong>Development</strong> nas configurações de <strong>ASPNETCORE_ENVIRONMENT</strong> varíavel de ambiente para <strong>Development</strong>
    e reinicie a aplicação.
</p>
