@page
@model FluxoCaixaDiario.Web.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Redirecionando para Login...</h1>
<p>Você será redirecionado para a página de login do IdentityServer.</p>